body {
    margin: 0;
    height: auto;
    overflow-x: hidden;

}



nav {
    background-color: rgb(160, 153, 153);
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#navbar-links {
        border: solid ;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
}

#search-bar {
    margin-right: 12px;
}

input {
    height: 25px;
    padding: 3px;
    border-radius: 4px;
    border: hidden;
}

#nav-rechts {
    display: flex;
    gap: 10px;
    align-items: center;
}

 nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 25px;
    cursor: pointer;
}

.section1 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;


}

.section1 img {
    height: auto;
}

#description {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgb(51, 48, 48);
    margin-bottom: 12px;
    text-align: center;
    width: 430px;
    padding-bottom: 20px;

}

#description button {
    background-color: rgb(70, 70, 161);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;


}

#description button:hover {
    background-color: rgb(124, 40, 124);
    transition: .5s;
}

.section2 {
    display: flex;
    height: auto;
    justify-content: center;
    border: rgb(139, 25, 161) solid;


}

.kleidung-container {
    border: solid rgb(60, 235, 241); 
 
}

#kleidung {
    border: solid green;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section2 img {
    height: auto;
}

#pricebtn {
    border: solid orange;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

#price {
    color: rgb(85, 85, 85);
}

#name {
    margin-left: 20px;
}

.section2 button {
    background-color: white;
    border-radius: 8px;
    border: solid blue 1px;
    padding: 8px;
    color: blue;
}

.section2 button:hover {
    background-color: blue;
    color: white;
    transition: .6s;
    cursor: pointer;
}

footer {
    background-color: rgb(241, 241, 241);
}

#vorteile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: coolevorteile 15s linear infinite;
    padding-top: 12px;
}

@keyframes coolevorteile {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


footer ul {
    list-style: none;
}

footer li {
}

#footer-info {
    display: flex;
    justify-content: space-around;
}

