body {
    margin: 0;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden; 
}

body p {
    font-size: 1.2em;
}

h1 {
    font-weight: 300;
    font-style: italic;
}



nav {
    background-color: rgb(236, 233, 233);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 500; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login { 
    height: 25px;
    background-color: pink;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

nav li {
    font-size: 1.3em;
}

nav li:hover {
    color: violet;
    cursor: pointer;
}


#navbar-links {
        display: flex;
        align-items: center;
        padding: 15px;
}



#searchbar {
    padding: 3px;
    border-radius: 4px;
    border: none;
}

#lupe-und-searchbar {
    border: hidden red;
    display: flex;
}

#lupe-und-searchbar button {
    background-color: violet;
}

#lupe {
    background-color: rgb(63, 63, 165);
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
}

#nav-rechts {
    display: flex;
    gap: 20px;
    align-items: center;
    border: hidden;
}

#nav-rechts p {
    right: 33px;
    top: 2px;
    position: relative;
    font-size: 1em;
    cursor: pointer;
}

 nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 25px;
    cursor: pointer;
}

#section1 {
    height: 100vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 h1 {
    position: absolute;
    z-index: 25;
    color: white;
    font-size: 20em;
}



#section1 video {
    z-index: -3;
    position: relative;
}

#section1 h1:hover {
    transform: rotate(20deg);
    transition: .4s;
    cursor:default

}

.section2 {
    display: flex;
    justify-content: center;
    height: auto;



}

#slider {
    border: solid;
    background-image: url('images/C_women.jpg');
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

#arrows {
    border: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between
}


#description {
    color: white;
    background-color: rgb(51, 48, 48);
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    margin-bottom: 25px;
}


#description button {
    background-color: rgb(92, 92, 230);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;


}

#description button:hover {
    background-color: rgb(124, 40, 124);
    transition: .5s;
}


#arrow {
    height: 50px;
    width: 50px;
    padding: 25px;
    cursor: pointer;
}


.section2, footer {
    margin-top: 150px;
    width: 100%;
}


#alle-kleidung-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;

}

#alle-kleidung-grid img {
    height: 500px;

}

#kleidung {
    border: solid 1px ;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 4px 5px;
}

#kleidung:hover {
    background-color: rgb(221, 212, 212);
    transition: .6s;
}

.in-tasche-preis {
    display: flex;
    justify-content: space-between;
}

.in-tasche-preis button {
    border: solid rgb(26, 172, 221);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    padding: 25px;
    font-size: 1em;
}

.in-tasche-preis button:hover {
    background-color: rgb(25, 168, 194);
    transition: .6s;
    width: 75%;
    color: white;
}



footer {
    background-color: rgb(241, 241, 241);
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    border-top: solid black;
}

#vorteile-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: coolevorteile 20s linear infinite;
    padding-top: 12px;
}

@keyframes coolevorteile {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }



#footer-items {
    display: flex;
    justify-content: space-between;
    border: violet hidden;
}

#newsletter-mail button {
    background-color: rgb(95, 95, 238);
    color: white;
    cursor: pointer;
    height: 50px;
}

#mailfield {
    padding: 12px;
}

#newsletter-items {
    position: relative;
    bottom: 6px;
    border: hidden red;

}

#newsletter-mail {
    border: hidden green;
    display: flex;
    gap: 0;
}


#itemsandlogos {
    border: solid black;
    padding: 35px;
}


#logos-Fuzzy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: hidden red;
}


#socialmedia-logos {
    display: flex;
    gap: 15px;
}

footer a {
    color: black;
}

#logos-Fuzzy img {
    height: 25px;
}


#logos-Fuzzy p {
    opacity: .5;
}

